@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --gold-color: #EFC69B;
    --red-color: #AF1B3F;
    --dark-color: #473144;
    --text-dark: #333;
    --body-font: Helvetica, Arial, sans-serif;
    --headline-font: Lora, Impact, serif;
}

.skiptocontent a {
    position: absolute;
    top: -40px;
}

.skiptocontent a:focus {
    top: 0;
    background-color: var(--red-color);
    color: white;
    padding: 0.5em;
    font-family: var(--body-font);
}

header h1 {
    font-family: var(--headline-font);
    color: var(--dark-color);
    text-align: center;
    margin: 1em 0;
}

nav {
    border-top: 1px solid var(--gold-color);
    border-bottom: 1px solid var(--gold-color);
}

ul {
    text-align: right;
    max-width: 90%;
}

li {
    display: inline;
    padding: 0 0.5em;
}

.nav-link {
    color: var(--red-color);
    text-decoration: none;
    font-family: var(--body-font);
    font-size: 1.1em;
}

main {
    max-width: 95%;
}

#main-content {
    display: grid;
    grid-template-columns: 1fr 20%;
    margin-top: 2em;
}

article {
    display: grid;
    grid-template-columns: 30% 1fr;
    margin-bottom: 3em;
}

.book-img {
    display: block;
    margin: 1em auto;
    width: 200px;
}

.book-attribute {
    border-right: 1px solid var(--gold-color);
    padding-right: 1em;
}


.book-attribute p {
    font-family: var(--body-font);
    color: var(--dark-color);
    text-align: right;
    margin: 5px 0 6px;
}

.book-attribute p:not(.book-date) {
    font-size: 0.9em;
}

.book-date {
    font-size: 1.1em;
}

.book-summary {
    padding-left: 1em;
}

.book-summary h2 {
    color: var(--red-color);
    font-family: var(--headline-font);
    margin: 0 0 20px;
}

.book-summary p {   
    display: inline;
    font-family: var(--body-font);
    color: var(--dark-color);
}

.read-more {
    color: var(--red-color);
    text-decoration: none;
    font-family: var(--body-font);
}

aside {
    border: 1px solid var(--gold-color);
    /* max-width: 200px; */
}

.placeholder-text {
    font-family: var(--body-font);
    color: var(--dark-color);
}